body { padding: 0; margin: 0 }
#unityContainer { position: absolute; background: #231F20 }
#unityContainer.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }

#custom-logo {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 100%;
}

#alert-custom-logo {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('AlertBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 100%;
}

#alert-custom-button {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -75%);
  width: 300px;
  height: 150px;
  cursor: pointer;
  background-image: url('AlertBtn.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#alert-custom-button img {
  display: none;
}

#custom-loader {
	position: absolute;
    	left: 50%;
    	bottom: 40px;
	transform: translate(-50%, -50%);
	width: 768px;	
	height: 50px; 
}

#custom-bar {
	position: absolute;
	left: 50%;
    	top: 50%;
    	transform: translate(-50%, -50%);
	width: 100%;
    	height: 100%;
}

#custom-loader .fill {
	background-image: url('Progress.png');
	background-size: contain;
	background-repeat:  no-repeat; 
	width: 100%; 
	height: 100%; 
	display: inline-block;
}

#custom-bar .progressBar {
	background-image: url('ProgressBar.png');
	background-size: cover;
	background-repeat: no-repeat;
    	width: 0%;
    	height: 42px;
}

#custom-loader .progressLabel {    
	position: absolute;
	left: 50%;
	top: -50%;    
    	transform: translate(-50%, -50%);
    	width: 100%; 
	height: 40px; 
    	font-size: 40px;
	color: #fdfffd;
    	text-align: center;
    	font-family: calibri, sans-serif;
}
