body { padding: 0; margin: 0 }
#unityContainer { position: absolute; background: #231F20 }
#unityContainer.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }

#custom-logo {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

#alert-custom-logo {
    width: 75%;
    height: 75%;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('Alert_BG.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 60px;
    border:white 0.7vh solid;
    user-select:none; 	
}
.alert-custom-img {
	width: 100%;
	height: 25%;	
	position: absolute;
	left: 50%;
	top: 14%;
	transform: translate(-50%, -50%);
    background-image: url('Logo_Site_Mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;     
}

.alert-custom-text {
	width: 90%;
	height: 40%;	
	position: absolute;
	left: 50%;
	top: 46%;
	transform: translate(-50%, -50%);
	font-family: 'Barlow', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 5.8vw;
	color:#fff;  
	user-select:none;   
}

.alert-custom-button {
	width: 70%;
	height: 15%;	
	position: absolute;
	left: 50%;
	top: 87%;
	transform: translate(-50%, -50%);
	font-family: 'Barlow', sans-serif;
	font-weight: 800;
	font-size: 4vh;
	text-shadow: 0.2vh 0.2vh 0.5vh #000000; 
	color:#fff;  
	user-select:none;  
	cursor: pointer;
	background-image: url('Alert_Btn.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index:1000;  
}
.alert-custom-button span{
    position: absolute;	
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
}
.alert-custom-button:hover {
    width: 70%;
    height: 13%;	
    background-size: contain;
    background-image: url('Alert_Btn.png');  
    background-repeat: no-repeat;
    background-position: center;  
    font-size: 3.8vh; 
}

#alert-custom-button img {
  display: none;
}

#custom-loader {
	position: absolute;
    	left: 50%;
    	bottom: 40px;
	transform: translate(-50%, -50%);
	width: 768px;	
	height: 50px; 
}

#custom-bar {
	position: absolute;
	left: 50%;
    	top: 50%;
    	transform: translate(-50%, -50%);
	width: 100%;
    	height: 100%;
}

#custom-loader .fill {
	background-image: url('Progress.png');
	background-size: contain;
	background-repeat:  no-repeat; 
	width: 100%; 
	height: 100%; 
	display: inline-block;
}

#custom-bar .progressBar {
	background-image: url('ProgressBar.png');
	background-size: cover;
	background-repeat: no-repeat;
    	width: 0%;
    	height: 42px;
}

#custom-loader .progressLabel {    
	position: absolute;
	left: 50%;
	top: -50%;    
    	transform: translate(-50%, -50%);
    	width: 100%; 
	height: 40px; 
    	font-size: 40px;
	color: #fdfffd;
    	text-align: center;
    	font-family: calibri, sans-serif;
}
